@media only screen and (min-width: 1824px) {
  .container {
    max-width: 1328px; } }

a:hover {
  cursor: hand; }

h2 {
  font-size: 3rem; }

#site-branding #site-logo {
  padding: 2rem;
  padding-bottom: 1.2rem; }

#site-branding #logo img {
  width: 6rem; }

#search-form {
  margin-top: 3.5rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
  width: 20rem; }
  #search-form .input-group {
    border-radius: 0.5rem;
    border: 1px solid #ededed; }
    #search-form .input-group .input-group-addon {
      font-size: 1.6rem;
      padding-left: 2rem; }
    #search-form .input-group input {
      height: 3.5rem;
      font-size: 1.8rem;
      border: none; }

#site-navigation {
  font-size: 1.3rem;
  line-height: 5rem;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e8cfc7;
  padding: 0 3.5rem; }
  #site-navigation #main-menu {
    text-align: center; }
    #site-navigation #main-menu a {
      font-size: 2.1rem;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      padding: 0 1rem;
      font-family: 'DinMod'; }
  #site-navigation #cart-links a {
    font-size: 1.3rem;
    color: #373a3c;
    margin-left: 2.4rem; }

nav ul {
  padding: 0;
  margin: 0; }
  nav ul li {
    margin: 0;
    padding: 0; }

.site-footer {
  padding-top: 5rem;
  background: #191919;
  min-height: 15rem;
  font-size: 1.4rem;
  color: #919191; }
  .site-footer .site-links ul {
    margin: 0;
    padding: 0; }
  .site-footer .site-links li {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 1.8rem; }
  .site-footer .site-links a {
    font-size: 1.8rem;
    color: #919191;
    font-family: 'DinMod'; }
  .site-footer .site-info {
    border-top: 1px solid #474747;
    margin-top: 4rem;
    padding: 1.8rem 0; }
    .site-footer .site-info a {
      color: #919191;
      margin-left: 2.2rem; }

.collapse {
  overflow: hidden; }

body.mobile {
  margin-top: 7rem; }

#toggle-menu-button {
  font-size: 2.2rem;
  color: #000;
  text-decoration: none; }
  #toggle-menu-button:hover {
    text-decoration: none; }

#featured-image img {
  width: 100vw; }

#contact-page {
  font-size: 1.5rem; }
  #contact-page #content {
    padding: 3.5rem 0; }
  #contact-page h2 {
    font-size: 3.5rem;
    letter-spacing: -1px;
    margin-bottom: 3.5rem; }
  #contact-page .contact-item {
    margin-bottom: 2rem; }
  #contact-page #emails {
    padding-bottom: 1.5rem; }
  #contact-page .content-block {
    padding: 0 6rem;
    padding-bottom: 5rem; }
  #contact-page #secondary {
    border-left: 1px solid #acacac; }
  #contact-page #map {
    height: 100vh; }

@font-face {
    font-family: 'DinMod';
    src: url('../fonts/DinMod.eot');
    src: url('../fonts/DinMod.eot') format('embedded-opentype'),
         url('../fonts/DinMod.woff2') format('woff2'),
         url('../fonts/DinMod.woff') format('woff'),
         url('../fonts/DinMod.ttf') format('truetype'),
         url('../fonts/DinMod.svg#DinMod') format('svg');
}



/*# sourceMappingURL=app.css.map*/